body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
  }
  
  .user-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .user-content {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .text-input {
    margin-bottom: 16px;
  }

  .form-control {
    width: 100%;
    padding: 10px; /* Padding mejorado para mayor comodidad */
    margin-top: 4px; /* Espaciado superior ajustado */
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 14px; /* Tamaño de fuente ajustado */
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
}

  /* pa abaho es moha*/
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }